

/*DEFAULT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*SMOOTH SCROLL*/
html {
    scroll-behavior: smooth;
}
/*BODY*/

body {
    background-color: var(--background-color-main);
    font-family: var(--font-poppins);
    color: var(--text-color);
}



/*SECTIONS*/


/*PROFILE SECTIONS*/
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 60vh;

}

/*TITLE*/
.title {
    font-size: 3rem;
    text-align: center;
    color: var(--highlighted-elements-color);
}


/**SOCIALS CONTAINER**/
#socials-container a {
    text-decoration: none;
    font-size: 4rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s;

}
/**HOVER IMG**/
.ri-github-fill:hover, .ri-linkedin-box-fill:hover {
    color: #c8bdbd;
}

.ri-graduation-cap-line, .ri-group-fill, .ri-check-double-line {
    font-size: 2rem;
    color: var(--highlighted-elements-color);
}





/*ABOUT ICON*/
.icon__abt {
    cursor:default;
    height: 3.5rem;
}


/*TEXT SUMMARY*/
.text__1, .text__2 {
    
    font-size: 1.3rem;
    padding: 17px;
}
/*DETAILS*/
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-container h3, p {
    text-align: center;
}

.details-container h3 {
    font-size: 1.5rem;
}

.details-container p {
    font-size: 1.2rem;
}
/*CONTACT*/


.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: black 0.1rem solid;
    border-color: var(--inner-container-border);
    background: var(--text-color);
   
    padding: 2rem;
    
    
}

/**CONTACT ICON**/
.ri-mail-line, .ri-linkedin-fill {
    font-size: 2rem;
    color: var(--highlighted-elements-color);
}

.contact-info-container img {
    margin-bottom: 1.3rem;
}

.contact-info-container {
    gap: 2rem;
    text-align: center;
}
.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

.contact-info-container a {
    text-decoration: none;
    color: var(--highlighted-elements-color);
}

.contact-info-container a:hover {
    color: var(--highlighted-elements-color-hover);
    transition: all 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--highlighted--color);
    cursor: pointer;

}


