

.container {
    width: 90%;
    margin: 0 auto;
  }
  
  .scroll-menu {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 10px 0;
    margin: 0;
    
  }
  

  
  .category-button p {
    margin: 0;
    text-decoration: none;
  }
  
  
  button {
    background: none;
    border: none;
    text-decoration: underline;
  }

  button p {
    font-size: 13px;
  }
  
  button:focus {
    outline: none;
  }
  