.scroll-menu {
  overflow: auto;
  white-space: nowrap;
  border-bottom: 1px solid #9fa2a7;
  margin-bottom: 2rem;
}

.scroll-menu button {
  border: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: larger;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}

.scroll-menu button p:hover {
  color: rgb(93, 204, 252);
  border-bottom: 1px solid rgb(93, 204, 252);
  transition: all 0.25s;
}

